################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Minimax/x64/Debug/Minimax.tlog
